img{
width:12%;
height:12%;
 
}

.colorboton{
background-color: #343a40;
text-align: left;
}

.anchura{
width: 10px;
}
.estilodialogo{
    margin: 7rem auto;
}
.tam_imagen{
    width: 20px; 
    height: 20px;
}